.password_key {
    width: 35px;
    height: 35px;
}

.email {
    width: 35px;
    height: 35px;
}

.success {
    width: 35px;
    height: 35px;
}

.error {
    width: 35px;
    height: 35px;
}

.error_status {
    width: 50px;
    height: 50px;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-family: 'NunitoSans', sans-serif;
}

.info_container__header {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.info_container__text {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.form_container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 414px;
}

.submit_button {
    background-color: var(--main-color-palette_accent);
    font-family: 'NunitoSans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    outline: none;
    border: none;
    color: var(--main-color-palette_text__white);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.error_text {
    font-family: 'NunitoSans', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    color: var(--main-color-palette_negative__light);
}

.status_bar_container__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 40px 0 0 0;
}

.status_bar_container {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    max-width: 560px;
}

.status_bar__status_img {
    width: 25px;
    height: 25px;
}

.status_bar__status_correct, .status_bar__status_default,
.status_bar__status_incorrect {
    min-width: 40px;
    min-height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_bar__status_correct {
    background-color: var(--main-color-palette_accent);
}

.status_bar__status_incorrect {
    background-color: var(--main-color-palette_negative__light);
}

.status_bar__status_default {
    background-color: var(--main-color-palette_grey__light);
}

.status_bar__bar_correct, .status_bar__bar_default {
    height: 3px;
    width: 100%;
    max-width: 150px;
    min-width: 10px;
}

.status_bar__bar_correct {
    background-color: var(--main-color-palette_accent);
}

.status_bar__bar_default {
    background-color: var(--main-color-palette_grey__light);
}

.add_text_container {
    font-family: 'NunitoSans', sans-serif;
    font-size: 16px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.upper_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add_text_container_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.add_text_container__text {
    color: var(--main-color-palette_text__black)
}

.add_text_container__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color-palette_accent)
}

.add_text_container__clock {
    width: 20px;
    height: 20px;
}

.logo_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

@media screen and (max-width: 550px) {
    .form_container {
        width: calc(100% - 10px);
    }

    .logo_container {
        margin-top: 30px;
    }

    .info_container__header {
        font-size: 30px;
    }

    .info_container__text {
        font-size: 20px;
    }

    .submit_button {
        font-size: 23px;
    }
}

@media screen and (max-width: 450px) {
    .form_container {
        width: calc(100% - 20px)
    }
}